<section>
<h3>WORKAGRAM SOMETHING</h3>
    <%= form_for @work, url: {action: "create"} do |f| %>

      <%= f.text_field :text, :placeholder => "New comment", style: "width: 500px;height: 25px;" %>

    <% end %>
</section>

<article>
<h3>NEW WORKAGRAMS</h3>
  <ul >
  <%= render @timeline_works %>
  </ul>
</article>

<aside>
<h3>WHO TO FOLLOW</h3>
<ul >
<%= render @timeline_follows %>
</ul>
</aside>