<%= form_for(user) do |f|  %>
  <%= render 'shared/errors', object: f.object %>
    <span class="d-flex justify-content-end">
      <%= f.file_field simbol, accept: 'image/jpeg,image/gif,image/png', class: "text-center" %>
      <%= f.submit "Update #{simbol}", class: "btn btn-primary" %>
    </span>
<% end %>