<% works.each do |work| %>
<li >
  <div>
    <div>
      <%= image_tag work.author.photo.url, class: "photo float-left" if work.author.photo? %>
      <%= link_to work.author.fullname, user_path(work.author) %>    
    </div>
      <%= image_tag work.picture.url, class: "work_p rounded float-left" %>
  </div>
  <p>
    <%= work.text %>
  </p>
</li>
<% end %>