@import "bootstrap-sprockets";
@import "bootstrap";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
    
}

nav a {
    color: #777777;
    text-decoration: none; 
}

body {
    background: rgb(220,220,220);
    width: 100vmax;
    position: relative;
    min-height: 900px;
}

nav {
    width: 15%;
    padding: 15px;
    background-color: rgb(38, 55, 71);
}

section {
    width: 75%;
}

article {
    padding: 15px 20px;
    margin: 15px 20px;
    background-color: rgb(248,248,255);
    position: relative;
    border-radius: 6px;
}

aside {
    width: 25%;
    height: auto;
}

.float-left {
    float: left;
}

.photo {
    width: 50px;
    height: 50px;

}

.cover_img {
    height: 300px;
    margin: auto;
    object-fit: cover;
    
}

.w-100 {
    width: 100%;
}

.w-85 {
    width: 85%;
}


.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.33%;
}

.w-25 {
    width: 25%;
}

.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.py-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.text-white {
    color: rgb(248,248,255)
}

.nav-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-border-t {
    border-top: 1px solid lightgray;
}

.nav-border-r {
    border-right: 1px solid black;
}

.border-right {
    border-right: 1px solid gray;
}

.border-top {
    border-top: 1px solid gray;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.h-80 {
    height: 80px;
}

.centered {
    margin: auto;
}