.text-white {
  color: rgb(248,248,255)
}

.nav-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-border-t {
  border-top: 1px solid lightgray;
}

.nav-border-r {
  border-right: 1px solid black;
}

.border-right {
  border-right: 1px solid gray;
}

.border-top {
  border-top: 1px solid gray;
}

.border-bottom {
  border-bottom: 1px solid gray;
}
